#header
  .inner
    header
      h1
        a#logo(href='/') Helios
      hr
      p Another fine freebie by HTML5 UP
    footer
      a.button.circled.scrolly(href='#banner') Start
  nav#nav
    ul
      li
        a(href='/') Home
      li
        a(href='/products') Products
      //- li
      //-   a(href='#') Dropdown
      //-   ul
      //-     li
      //-       a(href='#') Lorem ipsum dolor
      //-     li
      //-       a(href='#') Magna phasellus
      //-     li
      //-       a(href='#') Etiam dolore nisl
      //-     li
      //-       a(href='#') And a submenu …
      //-       ul
      //-         li
      //-           a(href='#') Lorem ipsum dolor
      //-         li
      //-           a(href='#') Phasellus consequat
      //-         li
      //-           a(href='#') Magna phasellus
      //-         li
      //-           a(href='#') Etiam dolore nisl
      //-     li
      //-       a(href='#') Veroeros feugiat
      li
        a(href='/services') Services
      li
        a(href='/about') About Us
      li
        a(href='/contact') Contact Us
