extends layout

block content
  // Banner
  section#banner
    header
      h2
        | Hi. You're looking at 
        strong Helios
        | .
      p
        | A (free) responsive site template by 
        a(href='http://html5up.net') HTML5 UP
        | .
        | 					Built with HTML5/CSS3 and released under the 
        a(href='http://html5up.net/license') CCA
        |  license.
  // Carousel
  section.carousel
    .reel
      article
        a.image.featured(href='#')
          img(src='images/pic01.jpg' alt='')
        header
          h3
            a(href='#') Pulvinar sagittis congue
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic02.jpg' alt='')
        header
          h3
            a(href='#') Fermentum sagittis proin
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic03.jpg' alt='')
        header
          h3
            a(href='#') Sed quis rhoncus placerat
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic04.jpg' alt='')
        header
          h3
            a(href='#') Ultrices urna sit lobortis
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic05.jpg' alt='')
        header
          h3
            a(href='#') Varius magnis sollicitudin
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic01.jpg' alt='')
        header
          h3
            a(href='#') Pulvinar sagittis congue
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic02.jpg' alt='')
        header
          h3
            a(href='#') Fermentum sagittis proin
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic03.jpg' alt='')
        header
          h3
            a(href='#') Sed quis rhoncus placerat
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic04.jpg' alt='')
        header
          h3
            a(href='#') Ultrices urna sit lobortis
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
      article
        a.image.featured(href='#')
          img(src='images/pic05.jpg' alt='')
        header
          h3
            a(href='#') Varius magnis sollicitudin
        p Commodo id natoque malesuada sollicitudin elit suscipit magna.
  // Main
  .wrapper.style2
    article#main.container.special
      a.image.featured(href='#')
        img(src='images/pic06.jpg' alt='')
      header
        h2
          a(href='#') Sed massa imperdiet magnis
        p
          | Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim
          | pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
      p
        | Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
        | posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
        | sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam
        | mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan
        | lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
        | consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
        | interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
        | natoque aenean scelerisque.
      footer
        a.button(href='#') Continue Reading
  // Features
  .wrapper.style1
    section#features.container.special
      header
        h2 Morbi ullamcorper et varius leo lacus
        p
          | Ipsum volutpat consectetur orci metus consequat imperdiet duis integer semper magna.
      .row
        article.col-4.col-12-mobile.special
          a.image.featured(href='#')
            img(src='images/pic07.jpg' alt='')
          header
            h3
              a(href='#') Gravida aliquam penatibus
          p
            | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
            | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        article.col-4.col-12-mobile.special
          a.image.featured(href='#')
            img(src='images/pic08.jpg' alt='')
          header
            h3
              a(href='#') Sed quis rhoncus placerat
          p
            | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
            | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        article.col-4.col-12-mobile.special
          a.image.featured(href='#')
            img(src='images/pic09.jpg' alt='')
          header
            h3
              a(href='#') Magna laoreet et aliquam
          p
            | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
            | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
