extends layout

block content
  .wrapper.style1
    .container
      .row.gtr-200
        #content.col-8.col-12-mobile
          article#main
            header
              h2
                a(href='#') Right Sidebar
              p
                | Morbi convallis lectus malesuada sed fermentum dolore amet
            a.image.featured(href='#')
              img(src='images/pic06.jpg', alt='')
            p
              | Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa
              | posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus
              | lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum
              | consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue
              | interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia
              | natoque aenean scelerisque vel lacinia mollis quam sodales congue.
            section
              header
                h3 Ultrices tempor sagittis nisl
              p
                | Nascetur volutpat nibh ullamcorper vivamus at purus. Cursus ultrices porttitor sollicitudin imperdiet
                | at pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
                | feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
                | fringilla consequat dis arcu. Pellentesque mus tempor vitae pretium sodales porttitor lacus. Phasellus
                | egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
              p
                | Eleifend auctor turpis magnis sed porta nisl pretium. Aenean suspendisse nulla eget sed etiam parturient
                | orci cursus nibh. Quisque eu nec neque felis laoreet diam morbi egestas. Dignissim cras rutrum consectetur
                | ut penatibus fermentum nibh erat malesuada varius.
            section
              header
                h3 Augue euismod feugiat tempus
              p
                | Pretium tellus in euismod a integer sodales neque. Nibh quis dui quis mattis eget imperdiet venenatis
                | feugiat. Neque primis ligula cum erat aenean tristique luctus risus ipsum praesent iaculis. Fermentum elit
                | ut nunc urna volutpat donec cubilia commodo risus morbi. Lobortis vestibulum velit malesuada ante
                | egestas odio nisl duis sociis purus faucibus morbi. Eget massa mus etiam sociis pharetra magna.
        #sidebar.col-4.col-12-mobile
          hr.first
          section
            header
              h3
                a(href='#') Accumsan sed penatibus
            p
              | Dolor sed fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
              | porttitor phasellus tempus cubilia ultrices tempor sagittis  tellus ante diam nec penatibus dolor cras
              | magna tempus feugiat veroeros.
            footer
              a.button(href='#') Learn More
          hr
          section
            header
              h3
                a(href='#') Sed lorem etiam consequat
            p
              | Tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
            .row.gtr-50
              .col-4
                a.image.fit(href='#')
                  img(src='images/pic10.jpg', alt='')
              .col-8
                h4 Nibh sed cubilia
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin.
              .col-4
                a.image.fit(href='#')
                  img(src='images/pic11.jpg', alt='')
              .col-8
                h4 Proin sed adipiscing
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin.
              .col-4
                a.image.fit(href='#')
                  img(src='images/pic12.jpg', alt='')
              .col-8
                h4 Lorem feugiat magna
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin.
              .col-4
                a.image.fit(href='#')
                  img(src='images/pic13.jpg', alt='')
              .col-8
                h4 Sed tempus fringilla
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin.
              .col-4
                a.image.fit(href='#')
                  img(src='images/pic14.jpg', alt='')
              .col-8
                h4 Malesuada fermentum
                p
                  | Amet nullam fringilla nibh nulla convallis tique ante proin.
            footer
              a.button(href='#') Magna Adipiscing
      hr
      .row
        article.col-4.col-12-mobile.special
          a.image.featured(href='#')
            img(src='images/pic07.jpg', alt='')
          header
            h3
              a(href='#') Gravida aliquam penatibus
          p
            | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
            | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        article.col-4.col-12-mobile.special
          a.image.featured(href='#')
            img(src='images/pic08.jpg', alt='')
          header
            h3
              a(href='#') Sed quis rhoncus placerat
          p
            | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
            | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.
        article.col-4.col-12-mobile.special
          a.image.featured(href='#')
            img(src='images/pic09.jpg', alt='')
          header
            h3
              a(href='#') Magna laoreet et aliquam
          p
            | Amet nullam fringilla nibh nulla convallis tique ante proin sociis accumsan lobortis. Auctor etiam
            | porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum consequat integer interdum.

